.p-about
  .p-a-top
    padding: 35px 0
    text-align: center
    background: #edf3f5

  .p-a-description
    padding: 35px 0
    text-align: center

    .p-a-d-title
      font-size: 24px
      font-weight: 300
      color: $secondary_color

    .p-a-d-detail
      font-size: 14px

  .p-a-divider
    position: relative
    height: 1px
    background: #f2f2f2

    .p-a-d-circle
      absolute: top -8px left 50%
      transform: translateX(-50%)

      height: 11px
      width: 11px

      background: #fff
      border: 3px solid #dbe3e6
      border-radius: 50%

  .p-a-how_works
    font-size: 30px
    font-weight: 300
    color: $secondary_color
    text-align: center

  .p-a-summary
    margin: 40px -10px

    .p-a-s-item
      box-sizing: border-box
      padding: 0 10px

  .p-a-detail_info
    margin: 35px 0
    text-align: center
    color: $secondary_color
    font-size: 14px

  .p-a-join
    margin: 10px 0 40px
    text-align: center

    .m-btn
      padding-left: 40px
      padding-right: @padding-left

      background: none
      color: #4cb2e2
      border: 1px solid
