.p-error
  align-items: center
  text-align: center

  .m-logo
    padding-top: 30px

  .p-e-description
    flex: 0 0 auto

    h1
      color: #6abde3

    p
      font-size: 14px

  .p-e-top
  .p-e-bottom
    flex: 1 0 40px