.p-error
  text-align: center

  .p-e-logo
    padding-top: 30px

  .p-e-description
    flex: 0 0 auto

    .p-e-d-title
      margin: 0 0 15px
      color: #6abde3
      font-family: $project_font_family
      font-weight: normal

    .p-e-d-message
      margin: 0
      font-size: 14px

  .p-e-top
  .p-e-bottom
    flex: 1 0 40px
