.p-error
  text-align: center

  .p-e-logo
    padding-top: 30px

  .p-e-description
    flex: 0 0 auto

    .p-e-d-title
      color: #6abde3

    .p-e-d-message
      font-size: 14px

  .p-e-top
  .p-e-bottom
    flex: 1 0 40px