.p-login

  .p-l-top,
  .p-l-bottom
    flex: 1 0 40px

  .p-l-body
    flex: 0 0 auto

  .p-l-container
    margin: 0 auto
    width: 242px

  .p-l-form
    margin: 50px 0 75px

    .m-control
      font-size: 14px
