.p-user
  $content_indent = 37px

  .p-u-top
    padding-top: 47px

  .p-u-tabs
    padding-left: $content_indent

    a
      display: inline-block
      padding: 12px 35px
      font-size: 12px
      color: $placeholder_color
      text-decoration: none
      text-transform: uppercase

      &.active
        color: #000

  .p-u-line
    height: 1px
    background-color: $split_border_color

  .p-u-body
    .m-profile
      margin-top: -50px

  .p-u-content
    margin: 20px 0
    padding-left: $content_indent
