.c-header
  $header_height = 56px

  height: $header_height
  border-bottom: 1px solid $base_border_color

  .c-h-brand
    float: left
    margin-right: 35px

    .m-logo
      line-height: $header_height

  .c-h-nav
    list-style: none
    padding: 0
    margin: 0

    li
      position: relative
      float: left

      a
        display: block
        font-size: 19px
        padding: 15px
        color: $placeholder_color

        &:hover
          color: #78adc6

      .c-h-n-underline
        display: none
        absolute: bottom -1px left
        width: 100%
        height: 2px
        background-color: #3eb4eb

      &.active
        a
          color: #3eb4eb

        .c-h-n-underline
          display: block

  .c-h-searchbox
    margin-left: 10px
    padding: 12px 0

    width: 250px

    float: left

    .m-control-group
      margin: 0
      height: 30px
      background-color: #f5fcff
      border-color: @background-color

      .m-control
        padding-top: 6px
        padding-bottom: 6px
        padding-right: 0
        background-color: #f5fcff

        placeholder(color darken($placeholder_color, 10%), font-weight normal)

      .m-btn
        padding: 6px 10px
        color: $placeholder_color

  .c-h-nav-right
    float: right

    .c-h-nr-avatar
      position: relative
      text-align: right
      height: $header_height

      .c-h-nr-a-img
        display: inline-block
        margin-top: 10px
        width: 36px
        height: 36px
        cursor: pointer
        border-radius: 50%
        background: no-repeat center center
        background-size: 100% auto

      .c-dropdown
        min-width: 178px
        margin-top: 5px
