.c-header
  $header_height = 56px

  height: $header_height
  border-bottom: 1px solid $base_border_color

  .m-logo
    line-height: $header_height

  .c-h-menu
    display: table
    list-style: none
    padding-left: 0
    margin: 0
    height: $header_height

    li
      display: table-cell
      padding: 0 10px

      &:first-child
        padding-left: 0

      &:last-child
        padding-right: 0

      &.active,
      &.active:hover
        a
          color: #3eb4eb

        .c-h-m-underline
          display: block

      .c-h-m-underline
        display: none
        position: relative
        bottom: 3px
        height: 2px
        background: #3eb4eb

      a
        display: block
        position: relative
        height: 100%
        width: 45px
        font-size: 20px
        color: $placeholder_color
        line-height: $header_height
        text-align: center

        &:hover
          color: #78adc6

  .c-h-avatar
    position: relative
    text-align: right
    height: $header_height

    .c-h-a-img
      display: inline-block
      margin-top: 10px
      width: 36px
      height: 36px
      cursor: pointer
      border-radius: 50%
      background: no-repeat center center
      background-size: 100% auto

    .c-dropdown
      min-width: 178px
      margin-top: 5px
