.c-image_uploader
  cursor: pointer

  position: relative

  text-align: center
  color: $secondary_color

  border: 1px dashed $base_border_color
  border-radius: 3px
  background: rgba(255, 255, 255, .9)

  transition: border-color 150ms ease, background 150ms ease

  &.dz-drag-hover
    border-color: #4bb6e7
    background: rgba(245, 252, 255, .9)

  .dz-message
    display: table

    width: 100%
    height: 100%

    span
      display: table-cell
      vertical-align: middle

.c-image_preview
  display: inline-block
  position: relative

  margin: 0 12px 12px 0

  height: 90px
  width: @height

  .c-ip-thumb
    absolute: top left

    width: 100%
    height: 100%

    background: #f2f2f2 no-repeat center center
    background-size: cover

  .c-ip-remove
    cursor: pointer

    absolute: top 5px right 5px
    padding: 2px

    color: #fff
    font-size: 8px

    background: rgba(0, 0, 0, .5)
    border-radius: 2px

  .c-ip-progress
    display: none
    absolute: bottom 5px left 3px
    right: 3px

  &.dz-processing
    .c-ip-progress
      display: block
