.c-video-player
  position: relative
  display: table

  width: 100%
  height: 432px

  border-radius: 9px
  background: #245065

  .c-vp-wrapper
    position: relative
    height: 100%

    border-radius: 9px
    overflow: hidden

  iframe
    padding: 0
    margin: 0
    border: 0

    width: 100%
    height: 100%

  .c-vp-preview
    cursor: pointer

    position: relative
    display: table-cell
    vertical-align: middle

    p
      color: #fff
      text-align: center
      font-size: 18px
      font-family: $project_font_family

    .icon-play
      font-size: 60px
