.m-panel
  border: 1px solid $base_border_color
  border-radius: 3px
  overflow: hidden

  .m-p-header
    padding: 14px 15px
    font-size: 17px
    color: $secondary_color
    border-bottom: 1px solid $base_border_color

    .m-p-h-detail
      display: block
      color: $muted_color
      font-size: 13px

  .m-p-body
    padding: 15px 15px

  .m-p-note
    background: #f5fcff
    padding: 10px 15px
