.m-panel
  border: 1px solid $base_border_color
  border-radius: 3px
  overflow: hidden

  .m-p-header
    padding: 10px 15px
    font-size: 14px
    color: $secondary_color
    background: #f5fcff
    border-bottom: 1px solid $base_border_color

  .m-p-body
    padding: 15px 15px

  .m-p-note
    background: #f5fcff
    padding: 10px 15px
