.m-profile
  text-align: center

  .m-p-avatar
    margin: 0 auto 20px
    height: 100px
    width: 100px
    border-radius: 100%
    background: no-repeat center center
    background-size: 100% auto

  .m-p-fullname
    font-size: 15px

  .m-p-username
    color: $muted_color
    font-size: 13px

  .m-p-follow
    width: 100px;
    margin: 0 auto;

  .m-p-info
    list-style: none
    padding: 0
    color: $secondary_color
    font-size: 12px

    li
      i
        margin: 0 .4em

  .m-p-statistics
    list-style: none
    margin-top: 20px
    padding: 0
    border-top: 1px solid $split_border_color

    li
      display: inline-block
      padding: 20px 0
      width: 50%
      text-align: center

      strong
        display: block
        font-weight: normal
        font-size: 18px

      small
        display: block
        font-size: 12px
        color: $secondary_color
