.m-progressbar
  position: relative
  height: 10px

  border-radius: 3px
  background: #e7e3e3

  .m-p-fill
    absolute: top left
    height: 100%

    border-radius: 3px
    background: #3cb8f2

    transition: width 200ms ease
