.m-nav-tabs
  margin-bottom: 20px
  font-size: 12px
  text-transform: uppercase
  border-bottom: 1px solid $split_border_color

  .m-nt-tabs
    margin-bottom: -1px

    a
      display: inline-block
      padding: 10px 20px
      color: $muted_color

      &:hover
        text-decoration: none

      &.active
        color: #000
        border: 1px solid $split_border_color
        border-bottom: none
        border-radius: top 3px
        background: #fff
