.m-nav-tabs
  margin: 0
  font-size: 12px
  text-transform: uppercase

  .m-nt-tabs
    margin-bottom: -1px

    a
      display: inline-block
      padding: 16px 30px
      color: $muted_color
      border-bottom: 1px solid transparent

      &:hover
        text-decoration: none

      &.active
        color: #000
        border-color: #32a4d9
