.m-user-list
  list-style: none
  padding: 0
  margin: 0

  .m-ul-item
    display: table
    padding: 15px 0
    width: 100%
    border-bottom: 1px solid $split_border_color

    .m-ul-i-avatar
      width: 87px
      display: table-cell
      vertical-align: middle

      .m-ul-i-a-img
        height: 87px
        border-radius: 3px
        background: no-repeat center center
        background-size: 100% auto

    .m-ul-i-info
      padding: 0 15px
      display: table-cell
      vertical-align: middle

      .m-ul-i-i-login
        font-size: 14px
        display: inline-block

      .m-ul-i-i-fullname
        margin-left: 5px
        font-size: 14px
        display: inline-block
        color: #000

      .m-ul-i-i-joined
        margin-top: 5px
        font-size: 12px
        color: $secondary_color

        i
          margin-right: .2em;

    .m-ul-i-actions
      display: table-cell
      width: 92px
      vertical-align: middle
